.container{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

.container .header{
  grid-column-start: 1;
  grid-column-end: 3;
}


.container .sections{
  grid-column-start: 1;
  grid-column-end: 3;
}

.sections{
  overflow: auto;
}

section{
  margin: 320px 5px;
}
